// Body
$background-color: #fff;
$font-size: 1.2em;

// Fonts
$font-base: 'Open Sans', sans-serif;
$headings: 'Oswald', sans-serif;

// Containers
$container-desktop: 1200px;
$container-tablet: 960px;
$container-mobile: 540px; 

// Colors
$font-color: #555;